@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #ffffff;
	background: #006ab3;
	<!--#bc2131-->
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

p {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-semi-bold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
}

.dropdown-menu li a {
	color: #777777;
}

.dropdown-menu li a:hover {
	color: #000000;
	font-weight: 700;
}

.collapse {
	background: #ffffff;
}

.nav li a {
	font-size: 15px;
	font-weight: bold;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.language_selector_img_ge {
	padding-right: 10px;
}

.language_selector_img_en {
	padding-right: 10px;
}

.starter-template {
	margin-top: 150px;
	padding-left: 50px;
}

.starter-template .content {
	margin-left: 10px;
}

.starter-template .content h1 {
	margin-top: 10px;
	font-size: 60px;
}

.starter-template .content h1 .smaller {
	font-size: 40px;
	color: #f0f0ff;
}

.starter-template .content .lead {
	font-size: 20px;
	color: #f0f0ff;
}

.starter-template .content .lead .font-normal {
	color: #ffffff;
}

.starter-template .links {
	float: right;
	right: 0;
	margin-top: 125px;
}

.starter-template .links ul {
	display: block;
	padding: 0;
	margin: 0;
}

.starter-template .links ul li {
	list-style: none;
	display: inline;
	margin: 0 10px;
}

.starter-template .links ul li:first-child {
	margin-left: 0;
}

.starter-template .links ul li:last-child {
	margin-right: 0;
}

.starter-template .links ul li.current-version {
	color: #f0f0ff;
	font-weight: 400;
}

.starter-template .links ul li a {
	color: #ffffff;
}

.starter-template .links ul li a:hover {
	text-decoration: underline;
}

.starter-template .links ul li .icon-muted {
	color: #8AC4EB;
	margin-right: 5px;
}

.starter-template .links ul li:hover .icon-muted {
	color: #ffffff;
}

.starter-template .copyright {
	margin-top: 10px;
	font-size: 0.9em;
	color: #f0f0ff;
	text-transform: lowercase;
	float: right;
	right: 0;
}

.back-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	padding: 2em;
	display: none;
	background: url('../images/gototop.png') no-repeat 0px 0px;
	opacity: 0.75;
	filter: alpha(opacity=70);
}

.back-to-top:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.list {
	text-align: left;
}

@media (max-width: 1199px) {
	#login-template {
		margin-top: 100px;
	}
	
	.starter-template .content h1 {
		font-size: 45px;
	}
	.starter-template .content h1 .smaller {
		font-size: 30px;
	}
	.starter-template .content .lead {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.starter-template {
		margin-top: 0;
	}
	.starter-template .logo {
		margin: 40px auto;
	}
	.starter-template .content {
		margin-left: 0;
		text-align: center;
	}
	.starter-template .content h1 {
		margin-bottom: 20px;
	}
	.starter-template .links {
		float: none;
		text-align: center;
		margin-top: 60px;
	}
	.starter-template .copyright {
		float: none;
		text-align: center;
	}
	.starter-template .links ul li {
		display: block;
		margin: 0;
	}
}

@media (max-width: 767px) {
	.starter-template .content h1 .smaller {
		font-size: 25px;
		display: block;
	}
	.starter-template .content .lead {
		font-size: 16px;
	}
	.starter-template .links {
		margin-top: 40px;
	}
	.starter-template .links ul li {
		display: block;
		margin: 0;
	}
	.starter-template .links ul li .icon-muted {
		display: none;
	}
	.starter-template .copyright {
		margin-top: 20px;
	}
	.glyphicon-icon {
		display: none;
	}
}




.required {
	text-align: right;
	color: #000;
}
