# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.mo
*.pot

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
source/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Webapp stuff
*.log
*.pid
*.db

# Sphinx documentation
# docs/
*_build

# Misc
.python-version
*.bak
*.jar
mergeDatabase.py
db.txt
requirementsUpdater.py
analyzeDiscussion.py
.#*
pserve.ini

# Pycharm
.idea/
data/

# Deployment
dbas/static/css/main.css
dbas/static/css/main.css.map
dbas/static/rss/*
.sass-cache/
.babelrc
getMails.py
dbas.min.js
cookie-2.1.3.min.js
eu-cookie-law-popup.min.js
websocket.min.js
production.env

# node
node_modules/
/builds/
restorePostgres.sh

# DB Files
*.sql
!001_init.sh.bak
!002_development_seed.sql
