# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.mo
*.pot

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
source/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Webapp stuff
*.log
*.pid
*.db

# Sphinx documentation
# docs/
*_build

# Misc
.python-version
*.bak
*.jar
db.txt
mergeDatabase.py
getMails.py
addEnglischDiscussion.py
.#*
pserve.ini
analyzer/

# Pycharm
.idea/
data/
!dbas/static/data

# Deployment
dbas/static/css/main.css
dbas/static/css/main.css.map
dbas/static/css/creative.css
dbas/static/css/creative.css.map
dbas/static/rss/*
.sass-cache/
.babelrc
createUser.py
*.min.js
production.env
development.env

# node
node_modules/
/builds/
restorePostgres.sh

# DB Files
docker/db/data/
docker/db/entrypoint/.*.sql

.scannerwork/

# Emacs temp-files
.#*

.hypothesis/