[Unit]
Description=Deploy D-BAS
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
WorkingDirectory=/home/krauthoff/dbas
ExecStart=/usr/local/bin/docker-compose -f docker-compose.production.yml up --build
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=default.target
