alabaster==0.7.10
alembic==0.9.6
antiorm==1.2.1
appdirs==1.4.3
arrow==0.12.0
cornice==3.1.0
colander==1.4
coverage==4.4.2
cryptacular==1.4.1
docutils==0.14
db==0.1.1
graphene>=2.0.1,<3
graphene-sqlalchemy>=2.0.0,<3
graphql-core>=2,<3
hypothesis==3.45.2
imagesize==0.7.1
iso8601==0.1.12
Jinja2==2.10.0
lingua==4.13
ldap==1.0.2
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
nose==1.3.7
nose-timer==0.7.1
oauth2==1.9.0.post1
pyramid==1.9.1
pyramid-beaker==0.8
pyramid-mailer==0.15.1
PyRSS2Gen==1.1
pyshorteners==0.6.1
pytest==3.3.2
py3dns==3.1.0
python-Levenshtein==0.12.0
python-slugify==1.2.4
python-twitter==3.3
paste==2.0.3
psycopg2_binary==2.7.4
python-ldap==3.0.0
requests==2.18.4
requests_oauthlib==0.8.0
selenium==3.8.1
slugify==0.0.1
sphinx==1.6.6
sphinx-rtd-theme==0.2.4
splinter==0.7.7
SQLAlchemy==1.2.0
SQLAlchemy-Utils==0.32.21
transaction==2.1.2
urllib3==1.22
uWSGI==2.0.15
validate-email==1.3
WebOb==1.8.0rc1
webob-graphql==1.0
WebTest==2.0.29
zope.deprecation==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
