.blue-btn, .red-btn, .green-btn
  font-size: 40px
  height: 48px
  width: 48px

.blue-btn-sm, .red-btn-sm, .green-btn-sm
  font-size: 20px
  height: 24px
  width: 24px

.blue-btn-md, .red-btn-md, .green-btn-md
  font-size: 30px
  height: 36px
  width: 36px

.blue-btn, .blue-btn-sm, .blue-btn-md,
.red-btn, .red-btn-sm, .red-btn-md,
.green-btn, .green-btn-sm, .green-btn-md
  position: fixed
  border-radius: 10px
  margin: auto
  padding: 0
  overflow: hidden
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24)
  line-height: normal
  color: #fff
  cursor: pointer
  text-align: center

.blue-btn, .blue-btn-sm, .blue-btn-md
  background: #2196f3

.red-btn, .red-btn-sm, .red-btn-md
  background: #F44336

.green-btn, .green-btn-sm, .green-btn-md
  background: #8BC34A

.btn
  border-radius: 5px
  &:not(.toggle) // skip the toggles
    -webkit-box-shadow: 0
    box-shadow: 0 0 0

.btn-brand
  background-color: transparent
  width: 9em
  border-style: solid
  margin-bottom: 1em
  span, i
    color: #ffffff

.btn-dbas
  color: #2196F3
  background-color: #2196F3
  &:hover
    color: darken(#2196F3, 10%)
    background-color: darken(#2196F3, 10%)

.btn-hhu
  color: #006ab3
  background-color: #006ab3
  &:hover
    color: darken(#006ab3, 10%)
    background-color: darken(#006ab3, 10%)

.btn-google
  color: #4285F4
  background-color: #4285F4
  width: 125px
  padding: 0 16px 0 0
  img
    width: 35px
  &:hover
    color: #0E6CD2
    background-color: #0E6CD2

.btn-facebook
  color: #3b5998
  background-color: #3b5998
  &:hover
    color: darken(#3b5998, 10%)
    background-color: darken(#3b5998, 10%)

.btn-twitter
  color: #1da1f2
  background-color: #1da1f2
  &:hover
    color: darken(#1da1f2, 10%)
    background-color: darken(#1da1f2, 10%)

.btn-github
  color: #333
  background-color: #333
  &:hover
    color: darken(#333, 10%)
    background-color: darken(#333, 10%)

.btn-muted
  color: $muted-color