.blue-button, .red-button, .green-button
  font-size: 40px
  height: 48px
  width: 48px

.blue-button-small, .red-button-small, .green-button-small
  font-size: 20px
  height: 24px
  width: 24px

.blue-button-middle, .red-button-middle, .green-button-middle
  font-size: 30px
  height: 36px
  width: 36px

.blue-button, .blue-button-small, .blue-button-middle,
.red-button, .red-button-small, .red-button-middle,
.green-button, .green-button-small, .green-button-middle
  position: fixed
  border-radius: 50%
  margin: auto
  padding: 0
  overflow: hidden
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24)
  line-height: normal
  color: #fff
  cursor: pointer
  text-align: center

.blue-button, .blue-button-small, .blue-button-middle
  background: #2196f3

.red-button, .red-button-small, .red-button-middle
  background: #F44336

.green-button, .green-button-small, .green-button-middle
  background: #8BC34A