@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}

.txt-lt {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.float-rt {
	float: right;
}

.float-lt {
	float: left;
}

.clear {
	clear: both;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.vertical-base {
	vertical-align: baseline;
}

.vertical-top {
	vertical-align: top;
}

.underline {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
}

nav.vertical ul li {
	display: block;
}

nav.horizontal ul li {
	display: inline-block;
}

img {
	max-width: 100%;
}

.contact {
		margin-top: 100px;
	background: #fff;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 25px 45px 25px;
	border-radius: 5px;
	box-shadow: 3px 3px 8px 0px rgba(23, 22, 22, 0.33);
}

h1 {
	font-size: 40PX;
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.contact h2 {
	font-size: 30px;
	color: #000;
	margin: 0px 0px 8px 0px;
}

.contact p {
	font-size: 12px;
	color: #909090;
	padding: 0px 0px 15px 0px;
	border-bottom: 1px solid #E9E9E9;
}

.contact form {
	padding: 20px 0px 0px 0px;
}

.contact h3 {
	font-size: 16px;
	font-weight: 400;
	color: #818181;
	margin: 5px 0px 10px 0px;
}

.contact input[type="text"] {
	outline: none;
	font-size: 15px;
	font-weight: 400;
	color: #bcbcbc;
	padding: 12px 10px 12px 50px;
	border-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0px 0px 10px 0px;
	width: 75%;
	-webkit-appearance: none;
	border: 1px solid;
}

.contact input[type="text"]:hover,
.contact input.active {
	box-shadow: 0px 0px 4px 0px #3386E1;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.contact input.user {
	background: url(../images/user.png)no-repeat 10px 8px;
}

input.tel {
	background: url(../images/tel.png)no-repeat 8px 8px;
}

input.email {
	background: url(../images/email.png)no-repeat 8px 8px;
}

.contact textarea {
	outline: none;
	font-size: 15px;
	font-weight: 400;
	color: #bcbcbc;
	padding: 12px 10px 12px 50px;
	border-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0px 0px 10px 0px;
	width: 75%;
	-webkit-appearance: none;
	border: 1px solid;
	resize: none;
	height: 6em;
}

.contact textarea.i {
	background: url(../images/i.png)no-repeat 16px 8px;
}

.contact textarea.i:hover {
	box-shadow: 0px 0px 4px 0px #3386E1;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.contact input[type="submit"] {
	background: #006ab3;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 7px;
	width: 75%;
	border-radius: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	margin: 10px 0px 0px 0px;
	border-bottom: 3px solid #0E5099;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

.contact input[type="submit"]:hover {
	background: #1A7CEA;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.copyright {
	padding: 150px 0px 0px 0px;
	text-align: center;
}

.copyright p {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}

.copyright p a {
	font-size: 15px;
	font-weight: 400;
	color: #8AC4EB;
}

.copyright p a:hover {
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

body {
	margin-top: 100px;
}

@media(max-width:1440px) {
	.contact {
		width: 40%;
	}
}

@media(max-width:1366px) {
	.contact {
		width: 43%;
	}
}

@media(max-width:1280px) {
	.contact {
		width: 45%;
	}
}

@media(max-width:1024px) {
	.contact {
		width: 56%;
	}
	.copyright {
		padding: 100px 0px 0px 0px;
	}
}

@media(max-width:768px) {
	.contact {
		width: 73%;
	}
	.contact h2 {
		font-size: 26px;
	}
	.contact h3 {
		font-size: 15px;
	}
	.contact input[type="text"] {
		font-size: 13px;
	}
	.contact input[type="submit"] {
		font-size: 15px;
	}
	.contact textarea {
		font-size: 13px;
	}
	body {
		padding: 50px 0px 80px 0px;
	}
}

@media(max-width:640px) {
	.contact h2 {
		font-size: 24px;
	}
	.contact input[type="text"] {
		font-size: 12px;
	}
	.contact textarea {
		font-size: 12px;
	}
	.contact input[type="submit"] {
		width: 69%;
		font-size: 14px;
	}
	body {
		padding: 50px 0px 30px 0px;
	}
	h1 {
		font-size: 35PX;
	}
}

@media(max-width:480px) {
	.contact h2 {
		font-size: 22px;
	}
	.contact p {
		font-size: 9.5px;
	}
	.contact form {
		padding: 10px 0px 0px 0px;
	}
	.contact h3 {
		font-size: 13px;
	}
	.contact input[type="text"] {
		width: 61%;
	}
	.contact textarea {
		width: 61%;
	}
	.contact input[type="submit"] {
		width: 80%;
	}
	h1 {
		font-size: 30PX;
		margin: 0px 0px 20px 0px;
	}
}

@media(max-width:320px) {
	.contact h2 {
		font-size: 20px;
	}
	body {
		padding: 30px 0px 30px 0px;
	}
	.contact {
		padding: 20px 15px 30px 15px;
		width: 85%;
	}
	.contact input[type="text"] {
		width: 75%;
		padding: 10px 10px 10px 45px;
	}
	.contact input.user {
		background: url(../images/user.png)no-repeat 8px 6px;
	}
	.contact input.tel {
		background: url(../images/tel.png)no-repeat 6px 5px;
	}
	.contact input.email {
		background: url(../images/email.png)no-repeat 5px 6px;
	}
	.contact textarea.i {
		background: url(../images/i.png)no-repeat 10px 9px;
	}
	.contact input[type="submit"] {
		width: 90%;
		font-size: 12px;
		padding: 10px 7px;
		margin: 0px 0px 0px 0px;
	}
	h1 {
		font-size: 25PX;
		margin: 0px 0px 13px 0px;
	}
	.copyright p {
		font-size: 12px;
	}
	.copyright p a {
		font-size: 12px;
	}
	.copyright {
		padding: 50px 0px 0px 0px;
	}
	.contact textarea {
		width: 75%;
		height: 5em;
		padding: 10px 10px 10px 45px;
	}
	.contact h3 {
		font-size: 11px;
		margin: 1px 0px 6px 0px;
	}
}

