/*
signalblue #006ab3 (0, 106, 179), to use in 1, 0.7, 0.5, 0.3 and 0.1
achatgrey #d9dadb (217, 218, 219), to use in 1.0 and 0.1
gelbruen #97bf0d (151, 191, 13), to use in 1, 0.7, 0.5, 0.3 and 0.1
verkehrsrot #8e0a26 (142, 10, 38), to use in 1, 0.7, 0.5, 0.3 and 0.1
bootstrap-paper hover #eeeeee
*/

/**
 * Custom design for bootstrap
 */
#custom-bootstrap-menu.navbar-default .navbar-brand {
	color: #d9dadb;
	font-size: 20px;
	font-weight: bold;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
	width: 85px;
	background: transparent url('../images/brand_black_small.png') center no-repeat;
}

#custom-bootstrap-menu.navbar-default .navbar-brand:hover {
	background-color: #EBEBEB; /*Paper bootstrap*/
	/*
	background-color: #006ab3;
	background-image: url('../images/brand_white_small.png');
	*/
}
/*
#custom-bootstrap-menu.navbar-default {
	font-size: 16px;
	background-color: #d9dadb;
	border-bottom: thin solid #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: #000;
	background-color: #d9dadb;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
	border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}

.dropdown-menu li a:hover {
	color: #fff;
	background-color: #006ab3;
}

.dropdown-menu {
	background-color: #d9dadb;
}

.dropdown-menu li.active {
	font-weight: bold;
}

.nav li a:hover,
.nav {
	font-weight: normal;
}

*/
.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.language_selector_img {
	padding-right: 10px;
}

/* CUSTOM */
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	color: #000;
	/*font-weight: 400;*/
	background-color: #EBEBEB;
}

.navbar-transparent{
	background-color: transparent;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

/* END CUSTOM */
/*
.dropdown-menu li a:hover img,
.dropdown-menu li .active,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover img,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a img,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover img,
.glyphicon-local:hover {
	-webkit-filter: invert(100%);
}
*/

/*
 * Footer and custom design
 */

#footer,
#footer > a,
#footer .links ul li a,
#footer .links ul li .glyphicon-local {
	font-size: 12px;
}

#footer {
	position: absolute;
	width: 100%;
	margin-top: 50px;
	height: 50px;
	padding-top: 15px;
	/*
	background: #d9dadb;
	border-top: thin solid #006ab3;
	*/
	/* paper bootstrap */
	background: #fff;
	border-top: thin solid #bababa;
	bottom: 0;
	left: 0;
}

#footer div div {
	margin-bottom: 0px;
}

#footer_imprint {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-115-list.png) no-repeat;
}

#footer-glyphicons {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-249-asterisk.png) no-repeat;
}

#footer_contact {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-310-comments.png) no-repeat;
}

#header_letsgo {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-551-erase.png) no-repeat;
}

#header_news {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-609-newspaper.png) no-repeat;
}

#header_login {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-387-log-in.png) no-repeat;
}

#header_notifications {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-11-envelope.png) no-repeat;
}
#header_notifications_new {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-130-message-new.png) no-repeat;
}
#header_settings {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-138-cogwheels.png) no-repeat;
}

.info-glyphicon {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-196-circle-info.png) no-repeat;
	width: 80%;
}

#header_admin {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-140-adjust-alt.png) no-repeat;
}

#header_user {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-4-user.png) no-repeat;
}

#header_logout {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-388-log-out.png) no-repeat;
}

#header_privacy {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-499-sunglasses.png) no-repeat;
}

#footer_author {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-4-user.png) no-repeat;
}

#footer_licence {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-341-globe.png) no-repeat;
}

#roundhousekick {
	background: url(../images/chucknorris.png) no-repeat;
	float:right;
}

#yomamma {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-36-woman.png) no-repeat;
	float:right;
}