/*
signalblue #006ab3 (0, 106, 179), to use in 1, 0.7, 0.5, 0.3 and 0.1
achatgrey #d9dadb (217, 218, 219), to use in 1.0 and 0.1
gelbruen #97bf0d (151, 191, 13), to use in 1, 0.7, 0.5, 0.3 and 0.1
verkehrsrot #8e0a26 (142, 10, 38), to use in 1, 0.7, 0.5, 0.3 and 0.1
*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
	color: #d9dadb;
	font-size: 20px;
	font-weight: bold;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
	width: 85px;
	background: transparent url('../images/brand_black_small.png') center no-repeat;
}

#custom-bootstrap-menu.navbar-default .navbar-brand:hover {
	background-color: #006ab3;
	background-image: url('../images/brand_white_small.png');
}

#custom-bootstrap-menu.navbar-default {
	font-size: 16px;
	background-color: #d9dadb;
	border-bottom: thin solid #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: #000;
	background-color: #d9dadb;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
	border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
	background-color: #006ab3;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}

.dropdown-menu li a:hover {
	color: #fff;
	background-color: #006ab3;
}

.dropdown-menu {
	background-color: #d9dadb;
}

.dropdown-menu li.active {
	font-weight: bold;
}

.nav li a:hover,
.nav {
	font-weight: normal;
	font-size: 16px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.language_selector_img {
	padding-right: 10px;
}

.dropdown-menu li a:hover img,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover img,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a img,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover img,
.glyphicon-local:hover {
	-webkit-filter: invert(100%);
}