#custom-bootstrap-menu.navbar-default .navbar-brand
  font-size: 20px

  &:hover
    background-color: $bubble-space

  img
    height: 1.5em
    margin-right: 0.5em
    display: inline

  span
    color: black

.navbar-nav.navbar-right:last-child
  margin-right: 20px

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a
  color: $header-text-color

  &:hover, &:focus
    color: $primary-color
    background-color: $bubble-space

.navbar-right .dropdown-menu a
  span
    color: $header-text-color

  &:hover span
    color: $primary-color

  i
    color: $header-text-color

  &:hover i
    color: $primary-color

  .badge
    color: $bubble-space

.navbar-transparent
  background-color: transparent
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  -webkit-transition: all 0.5s linear
  -moz-transition: all 0.5s linear
  -o-transition: all 0.5s linear
  transition: all 0.5s linear

#navbar-right
  .fa
    margin-right: 0.5em
    width: 1em

nav.navbar.shrink
  min-height: 35px

nav.shrink a:not(#language-dropdown)
  padding-top: 10px !important
  padding-bottom: 10px !important

nav.shrink .navbar-brand
  height: 40px

nav.shrink .navbar-toggle
  padding: 4px 5px
  margin: 8px 15px 8px 0
