#xAxis
  path
    fill: none
    stroke: #000
  text
    display: none
#yAxis path, #yAxis line
  fill: none
  stroke: #000
.legendDiv
  width: 20px
  height: 20px
  float: left
.legendLabel
  padding-left: 10px
  width: 90%
.legendUl
  padding-left: 10px