#xAxis
  path
    fill: none
    stroke: #000
  text
    display: none
#yAxis path, #yAxis line
  fill: none
  stroke: #000
.legendSymbolDiv
  width: 20px
  height: 20px
  float: left
.legendLabel
  padding-left: 10px
  width: 90%
.legendUl
  padding-left: 10px
  margin-bottom: 0
.chartTooltip
  position: absolute
  padding: 5px
  display: inline-block
  border: 2px solid
  pointer-events: none
  margin-top: 1em
  margin-left: 10px
  width: 90%
#barometer-popup .modal-body
  overflow-y: auto
#chart-btn-div
  float: left
.doughnut-chart-text-tooltip
  text-anchor: middle