.node
  text
    display: none
    font-size: 14px
    font-family: 'Roboto'
    font-style: normal
  rect
    display: none
    opacity: 1
    fill: #EEEEEE
    stroke: #212121
    stroke-width: 1px
  &:hover
    text
      display: inline
    circle
      fill: #757575
    rect
      display: inline