$accent-color: #006ab3
$blue: #2196f3
$bubble-space: #f3f3f3
$user-bubble: #C5E1A5
$sytem-bubble: #CFD8DC
$info-bubble: #FFF9C4
$now-bubble: #BBDEFB
$error-color: #be0a26
$success-color: #97bf0d

@import "admin"
@import "basetemplate"
@import "bubbles"
@import "content"
@import "customnavbar"
@import "form"
@import "index"
@import "news"
@import "settings"
