#popup_background {
	display: none;
	z-index: 1;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #000000;
}

#popup {
	display: none;
	z-index: 2;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 8px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
}

.popup_title {
	padding-left: 5px;
}

.popup_author,
.popup_password{
	width: 500px;
}
.popup_password_content,
.popup_password{
	text-align: center;
}
.popup_password_content input.email {
	background: url(../images/email.png)no-repeat 8px 8px;
}
.popup_licence,
.popup_privacy {
	width: 550px;
}

.popup_close {
	position: relative;
	height: 30px;
	width: 30px;
	left: 27px;
	bottom: 24px;
	background: url("../images/close.png") no-repeat scroll 0 0 transparent;
	float: right;
	cursor: pointer;
}

.popup_author_content p,
.popup_privacy_content p,
.popup_licence_content p,
.popup_password_content p{
	margin: 8px 14px;
}

.popup_author_img {
	height: 120px;
	position: absolute;
	right: 5px;
	top: 5px;
	border: 1px solid #021a40;
}


.popup_author_table tr td {
	padding-left: 15px;
	padding-right: 15px;
}

.popup_author_table_row {
	padding-bottom: 5em;
	padding: 80px;
}


#password-request-submit {
	background: #006ab3;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 7px;
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	margin: 10px 0px 0px 0px;
	border-bottom: 3px solid #0E5099;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

#password-request-submit:hover,
#password-request-submit:focus {
	background: #1A7CEA;
}

@media (max-width: 767px) {
	#popup {
		display: none;
		z-index: 2;
		top: 20%;
		left: 50%;
		margin-left: -250px;
		background: none repeat scroll 0 0 #FFFFFF;
		border: 8px solid #ccc;
		border-radius: 5px 5px 5px 5px;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px;
		color: #000;
	}
	.popup_author,
	.popup_password {
		width: 400px;
	}
	.popup_licence,
	.popup_privacy{
		width: 450px;
	}
}


@media(max-width:480px) {
	#popup {
		display: none;
		z-index: 2;
		top: 20%;
		left: 50%;
		margin-left: -250px;
		background: none repeat scroll 0 0 #FFFFFF;
		border: 8px solid #ccc;
		border-radius: 5px 5px 5px 5px;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px;
		color: #000;
	}
	.popup_author,
	.popup_password {
		width: 350px;
	}
	.popup_licence,
	.popup_privacy{
		width: 400px;
	}
}