#review-table
  margin-top: 1em

  .forbidden
    color: #777
    cursor: no-drop

  .review-table-row
    td:nth-child(2)
      max-width: 250px

    td:nth-child(3)
      max-width: 160px

    img
      max-width: 40%

  td span
    margin-left: 0.5em

.review-btn-delete
  margin-left: 0.5em
  margin-bottom: 0.5em

.review-btn-optimize
  margin-left: 0.5em
  margin-bottom: 0.5em

.review-btn-edit
  margin-left: 0.5em
  margin-bottom: 0.5em

.nopower
  margin-top: 80px