@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #000;
	background: url('../images/bg4.png') repeat fixed center;
	font-size: 16px;
	<!--background: #b3b3b3;
	-->
}

@media screen and (min-width: 2560px),
screen and (min-height: 1600px) {
	<!-- new scale for bg for retina displays --> background: url('../images/bg5.png') repeat fixed center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

p {
	font-weight: 300;
}

a {
	color: #006ab3;
}
a:hover {
	text-decoration: underline;
}

.navbar-left {
	display: none
}

.font-normal {
	font-weight: 400;
}

.font-semi-bold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.back-to-top {
	position: fixed;
	bottom: 1em;
	z-index: 10;
	right: 1em;
	padding: 2em;
	display: none;
	background: url('../images/gototop.png') no-repeat 0px 0px;
	opacity: 0.75;
	filter: alpha(opacity=70);
}

.back-to-top:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.list {
	text-align: left;
}

.container {
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background: #f4f4f4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.container:hover{
	box-shadow: 0 4px 10px 4px rgba(0, 106, 179, 0.3);
	transition: .5s ease;
}

#firstcontainer {
	margin-top: 100px;
}

.jsdiabled {
	z-index: 2;
	position: fixed;
	margin-top: -40px;
	width: 98%;
	text-align: center;
	color: #fff;
	background: url('../images/bg_diagonals1.png') repeat fixed center;
	left: auto;
	right: auto;
	padding: 5px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.button:hover {
	transition: 0.5s all;
}

.modal-title{
	font-family: "Indie Flower", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

#footer {
	margin-top: 50px;
	width: 100%;
	height: 75px;
	padding-top: 15px;
	background: #d9dadb;
	border-top: thin solid #006ab3;
}

.links {
	float: none;
	text-align: right;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #000;
}

.links ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

.links ul li {
	list-style: none;
	display: inline;
	margin: 0 10px;
	text-align: center;
}

.links ul li a:hover {
	text-decoration: underline;
	color: #006ab3;
}

.content,
.lead,
.font-normal,
.links ul li a,
.links ul li .icon-muted {
	color: #000;
}

.list {
	text-align: left;
}

.links ul li:hover .icon-muted {
	color: #006ab3;
}

.project {
	text-transform: uppercase;
	display: inline;
}



@media (max-width: 767px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}
}