#popup-writing-news-title,
#popup-writing-news-text{
	padding-left: 3em;
}

#popup-writing-news-title{
	background: url(../images/glyphicons_free/glyphicons/glyphicons-605-text-size.png) no-repeat 12px 10px;
}

#popup-writing-news-text {
	background: url(../images/glyphicons_free/glyphicons/glyphicons-609-newspaper.png) no-repeat 12px 10px;
	resize: vertical;
}
#send-news{
    margin-top: 1em;
    float: right;
}

@media (min-width: 1800px) {
	.container {
		width: 1570px;
	}
}