#navbar-left {
	visibility: hidden;
}

.box {
	display: inline-block;
	margin: 50px;
}

.newscontainer {
	display: inline-block;
	border-radius: 2px;
	background: #f4f4f4;
	box-shadow: 1px 1px 1px 1px rgba(19, 35, 47, 0.3);
	margin: 5px 5px 5px 5px;
	padding: 15px 15px 15px 15px;
	vertical-align: top;
	width:  100%;
}
.row{
	width: 99%;
	margin-left: 0px;
}

.newscontainer:hover {
	box-shadow: 0 4px 10px 4px rgba(0, 106, 179, 0.3);
	transition: .5s ease;
}

#send-news{
	float:right;
}