@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #000;
	background: url('../images/bg4.png') repeat fixed center;
	<!--background: #b3b3b3;-->
}

@media screen and (min-width: 2560px) , screen and (min-height: 1600px) {
<!-- new scale for bg for retina displays -->
	background: url('../images/bg5.png') repeat fixed center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 16px;
}

p {
	font-weight: 300;
}

#home-hook,
#description-hook,
#features-hook,
#about-hook,
#research-hook {
	visibility: hidden;
}

.font-normal {
	font-weight: 400;
}

.font-semi-bold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.back-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	padding: 2em;
	display: none;
	background: url('../images/gototop.png') no-repeat 0px 0px;
	opacity: 0.75;
	filter: alpha(opacity=70);
}

.back-to-top:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.list {
	text-align: left;
}

.container {
	margin-top: 75px;
	padding-left: 50px;
	background: #eee;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.jsdiabled {
	position: fixed;
	text-align: center;
	color: #fff;
	background: url('../images/bg_diagonals1.png') repeat fixed center;
	left: auto;
	right: auto;
	padding: 5px;
	margin-left: 25px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.button {
	background: #006ab3;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 7px;
	border-radius: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	margin: 10px 0px 0px 0px;
	border-bottom: 3px solid #0E5099;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

.button:hover {
	background: #1A7CEA;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

@media (max-width: 767px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}
}
