#placeholder_minimap{
	background: url(../images/diablo3-minimap.jpg);
	height: 150px;
	width: 126px;
}

#navbar-left {
	visibility: hidden;
}

.btn-discussion {
	margin: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	margin-right: auto;
	text-align: center;
}

#discussions-space,
#discussions-avoidance-space {
	margin-top: 25px;
}

#discussions-space ul,
#discussions-avoidance-space ul {
	display: inline-block;
}

#discussions-space ul li,
#discussions-avoidance-space ul li {
	list-style: none;
	padding-bottom: 10px;
}

.error-description {
	color: #be0a26;
	font-size: 15px;
	font-weight: 600;
}

.success-description {
	color: #97bf0d;
	font-size: 15px;
	font-weight: 600;
}

#discussions-space ul li input,
#discussions-avoidance-space ul li input {
	margin-right: 5px;
	<!-- font-size: 15px;
	-->
}

#discussions-space ul,
#discussions-avoidance-space ul,
#discussions-space ul li,
#discussions-avoidance-space ul li {
	width: 100%;
}

#discussions-space ul li label,
#discussions-avoidance-space ul li label {
	width: 95%;
	vertical-align: middle;
	font-weight: 400;
}

#insert_statement_form {
	text-align: center;
}

#pro-textareas div div textarea,
#con-textareas div div textarea,
#pro-textareas div div input,
#con-textareas div div input  {
	resize: vertical;
	width: 85%;
	background: url(../images/glyphicons_free/glyphicons/glyphicons-547-quote.png) no-repeat 12px 10px;
}

#add-statement-container-main-input{
	padding: 12px 10px 0px 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0px 0px 10px 0px;
	-webkit-appearance: none;
	background: url(../images/glyphicons_free/glyphicons/glyphicons-547-quote.png) no-repeat 12px 10px;
	width: 100%;
	margin-bottom: 0px;
}

#add-statement-container-main-input-intro{
	float:left;
	line-height: 50px;
	text-align: center;
}

#insert_statement_form div a {
	text-decoration: none;
	color: #000;
}

#add-pro-textarea,
#add-con-textarea,
#pro-textarea-premissegroup,
#con-textarea-premissegroup{
	display: inline-block;
	padding: 10px;
}

#add-pro-textarea:hover,
#add-con-textarea:hover {
	text-decoration: underline;
	color: #006ab3;
}
/* link color of 'add a textfield' */

#pro-textareas li a:hover,
#con-textareas li a:hover {
	color: #fff;
}
/* link color for the 'dropdown' */

#add-pro-position,
#add-con-position{
	background: url(../images/glyphicons_free/glyphicons/glyphicons-433-plus.png) center no-repeat 12px 10px;
}

#island-view-container-h4,
#island-view-container-header-h4 {
	text-align: center;
}

#island-view-container-space ul{
	list-style-type: circle;
}

#discussion-failure-row {
	padding-top: 25px;
}

#list-all-users,
#list-all-attacks {
	margin-bottom: 15px;
}


#navigation-minimap-container {
	position: fixed;
	color: #006AB3;
	top: 50px;
	right: 0px;
}

#popup-edit-statement-body {
	padding-left: 10px;
	padding-right: 10px;
}

#popup-edit-statement-logfile-header {
	margin-top: 20px;
}

#popup-edit-statement-textarea,
#popup-url-sharing-input {
	outline: none;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	padding: 12px 10px 12px 10px;
	border-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0px 0px 10px 0px;
	-webkit-appearance: none;
	border: 1px solid;
	width: 100%;
	border-color: #bcbcbc;
	resize: vertical;
}

#popup-url-sharing-body {
	margin-left: 10px;
	margin-right: 10px;
}

.share-icon {
	float: left;
}

#opinion-barometer-img{
	width: 80px;
}

.hidden-discussion-information,
.hidden-information {
	visibility: hidden;
}

#report-statement{
	background:url(../images/glyphicons_free/glyphicons/glyphicons-197-circle-exclamation-mark.png) no-repeat;
	background-repeat: no-repeat;
}

@media (max-width: 767px) {
	#discussions-space ul,
	#discussions-avoidance-space ul {
		display: block;
	}

	#discussions-space ul li,
	#discussions-avoidance-space ul li {
		display: block;
	}
	#pro-position-column,
	#con-position-column {
		float: none;
		width: 95%;
	}
}