.content .lead {
	color: #101000;
}

.logo_hhu,
.logo_kolleg,
.logo_fhoev {
	padding: 5px;
	background: #fff;
	border: 1px solid #d9dadb;
}

.logo_hhu:hover,
.logo_kolleg:hover,
.logo_fhoev:hover {
	border: 1px solid #006ab3;
	transition: .5s ease;
}

.logo {
	margin-top: 20px;
}

.list-logos li {
	list-style: none;
	display: inline;
}

.col-badge {
	text-align: center
}

.col-badge p {
	text-align: left;
}

.icon-badge {
	margin: auto;
}

@media (max-width: 1242px) {
	.first-container {
		margin-top: 60px;
	}
}

@media (max-width: 991px) {
	.starter-template {
		margin-top: 0;
	}
	.logo {
		margin: 40px auto;
	}
	.content {
		margin-left: 0;
		text-align: center;
	}
	.content h1 {
		margin-bottom: 20px;
	}
	.links {
		float: none;
		text-align: center;
		margin-top: 60px;
	}
	.links ul li {
		display: block;
		margin: 0;
	}
	table.logo_table {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.content h1 .smaller {
		display: block;
	}
	.links {
		margin-top: 40px;
	}
	.links ul li {
		display: block;
		margin: 0;
	}
	.links ul li .icon-muted {
		display: none;
	}
	.glyphicon-icon {
		display: none;
	}
}