#navbar-left {
	visibility: hidden;
}

.button {
	width: 49%;
}

#request-track {
	float: left
}

#delete-track {
	float: right;
}

#info-table,
#track-table {
	margin-left: auto;
	margin-right: auto;
}

#track-table-success,
#track-table-failure {
	margin-top: 75px;
}

#password-submit {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.settings-container {
	max-width: 800px;
}

.settings-container-wide {
	max-width: 1920px;
}

#track-table-space table tbody tr:nth-child(even) {
	background-color: rgba(217, 218, 219, 0.7);
}

#track-table-space table tbody tr:nth-child(1) {
	text-align: center;
	background-color: rgba(0, 106, 179, 0.3);
}

#password-form {
	margin-top: 50px;
}

@media(max-width:640px) {
	#request-track, #delete-track {
		float: none;
	}
}