#writing-news-title,
#writing-news-text{
	padding-left: 3em;
}

#news_credentials{
    float:right;
}

#send-news{
    margin-top: 1em;
    float: right;
}

@media (min-width: 1800px) {
	.container {
		width: 1570px;
	}
}