.navbar-left {
	display: inline;
}

#home-template {
	margin-top: 100px;
}

.content {
	margin-left: 10px;
}

.content .lead {
	font-size: 20px;
	color: #101000;
}

.links {
	float: none;
	text-align: right;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #000;
}

.links ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

.links ul li {
	list-style: none;
	display: inline;
	margin: 0 10px;
	text-align: center;
}

.links ul li a:hover {
	text-decoration: underline;
	color: #006ab3;
}

.content .lead .font-normal,
.links ul li a,
.links ul li .icon-muted {
	color: #000;
}

.links ul li:hover .icon-muted {
	color: #006ab3;
}

.list {
	text-align: left;
}

.logo_hhu,
.logo_kolleg,
.logo_fhoev {
	padding: 5px;
	background: #fff;
	border: 1px solid #d9dadb;
}
.logo_hhu:hover,
.logo_kolleg:hover,
.logo_fhoev:hover {
	border: 1px solid #006ab3;
	transition: .5s ease;
}

.table_logo{
	border-collapse: separate;
	border-spacing: 5px 5px;
}

.project {
	text-transform: uppercase;
	display: inline;
}

@media (max-width: 1199px) {
	.content h1 {
		font-size: 45px;
	}
	.content h1 .smaller {
		font-size: 30px;
	}
	.content .lead {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.starter-template {
		margin-top: 0;
	}
	.logo {
		margin: 40px auto;
	}
	.content {
		margin-left: 0;
		text-align: center;
	}
	.content h1 {
		margin-bottom: 20px;
	}
	.links {
		float: none;
		text-align: center;
		margin-top: 60px;
	}
	.links ul li {
		display: block;
		margin: 0;
	}
	table.logo_table {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {
	.content h1 .smaller {
		font-size: 25px;
		display: block;
	}
	.content .lead {
		font-size: 16px;
	}
	.links {
		margin-top: 40px;
	}
	.links ul li {
		display: block;
		margin: 0;
	}
	.links ul li .icon-muted {
		display: none;
	}
	.glyphicon-icon {
		display: none;
	}
}
