table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin-top: 100px;
}

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}

.txt-lt {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.float-rt {
	float: right;
}

.float-lt {
	float: left;
}

.clear {
	clear: both;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.vertical-base {
	vertical-align: baseline;
}

.vertical-top {
	vertical-align: top;
}

.underline {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
}

nav.vertical ul li {
	display: block;
}

nav.horizontal ul li {
	display: inline-block;
}

img {
	max-width: 100%;
}

.contact {
	margin-top: 100px;
	background: #fff;
	text-align: center;
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	padding: 30px 25px 45px 25px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.contact h2 {
	color: #000;
	margin: 0px 0px 8px 0px;
}

.contact p {
	font-size: 12px;
	color: #909090;
	padding: 0px 0px 15px 0px;
	border-bottom: 1px solid #E9E9E9;
}

.contact form {
	padding: 20px 0px 0px 0px;
	display: inline-block
}

.contact h3 {
	color: #818181;
	margin: 5px 0px 10px 0px;
}

.contact input.user,
.contact input.tel,
.contact input.email,
.contact textarea.info,
.contact input.spam {
	outline: none;
	font-size: 15px;
	font-weight: 400;
	color: #bcbcbc;
	padding: 12px 10px 12px 50px;
	border-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0px 0px 10px 0px;
	width: 90%;
	-webkit-appearance: none;
	border: 1px solid;
}

.contact textarea.info {
	resize: vertical;
	height: 6em;
}

.contact input.user:hover,
.contact input.tel:hover,
.contact input.email:hover,
.contact textarea.info:hover,
.contact input.spam:hover,
.contact input.active {
	box-shadow: 0px 0px 4px 0px #3386E1;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.contact input.user {
	background: url(../images/user.png)no-repeat 10px 8px;
}

.contact input.tel {
	background: url(../images/tel.png)no-repeat 8px 8px;
}

.contact input.email {
	background: url(../images/email.png)no-repeat 8px 8px;
}

.contact input.spam {
	background: url(../images/lock.png)no-repeat 16px 8px;
}

.contact textarea.info {
	background: url(../images/i.png)no-repeat 16px 8px;
}

.button {
	width: 90%;
}

@media(max-width:1440px) {
	.contact {
		width: 40%;
	}
}

@media(max-width:1366px) {
	.contact {
		width: 43%;
	}
}

@media(max-width:1280px) {
	.contact {
		width: 45%;
	}
}

@media(max-width:1024px) {
	.contact {
		width: 56%;
	}
}

@media(max-width:768px) {
	.contact {
		width: 73%;
	}
	.contact h2 {
		font-size: 26px;
	}
	.contact h3,
	.contact input[type="submit"] {
		font-size: 15px;
	}
	.contact input[type="text"],
	.contact textarea {
		font-size: 13px;
	}
	body {
		padding: 50px 0px 80px 0px;
	}
}

@media(max-width:640px) {
	.contact h2 {
		font-size: 24px;
	}
	.contact input[type="text"],
	.contact textarea {
		font-size: 12px;
	}
	.contact input[type="submit"] {
		width: 69%;
		font-size: 14px;
	}
	body {
		padding: 50px 0px 30px 0px;
	}
	h1 {
		font-size: 35PX;
	}
}

@media(max-width:480px) {
	.contact h2 {
		font-size: 22px;
	}
	.contact p {
		font-size: 9.5px;
	}
	.contact form {
		padding: 10px 0px 0px 0px;
	}
	.contact h3 {
		font-size: 13px;
	}
	.contact input[type="text"] {
		width: 61%;
	}
	.contact textarea {
		width: 61%;
	}
	.contact input[type="submit"] {
		width: 80%;
	}
	h1 {
		font-size: 30PX;
		margin: 0px 0px 20px 0px;
	}
}

@media(max-width:320px) {
	.contact h2 {
		font-size: 20px;
	}
	body {
		padding: 30px 0px 30px 0px;
	}
	.contact {
		padding: 20px 15px 30px 15px;
		width: 85%;
	}
	.contact input[type="text"] {
		width: 75%;
		padding: 10px 10px 10px 45px;
	}
	.contact input.user {
		background: url(../images/user.png)no-repeat 8px 6px;
	}
	.contact input.tel {
		background: url(../images/tel.png)no-repeat 6px 5px;
	}
	.contact input.email {
		background: url(../images/email.png)no-repeat 5px 6px;
	}
	.contact textarea.i{
		background: url(../images/i.png)no-repeat 10px 9px;
	}
	.contact input.spam {
		background: url(../images/lock.png)no-repeat 10px 9px;
	}
	.contact input[type="submit"] {
		width: 90%;
		font-size: 12px;
		padding: 10px 7px;
		margin: 0px 0px 0px 0px;
	}
	h1 {
		font-size: 25PX;
		margin: 0px 0px 13px 0px;
	}
	.contact textarea {
		width: 75%;
		height: 5em;
		padding: 10px 10px 10px 45px;
	}
	.contact h3 {
		font-size: 11px;
		margin: 1px 0px 6px 0px;
	}
}