@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #ffffff;
	background: #006ab3;
	<!--#bc2131-->
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

p {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-semi-bold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
}

.dropdown-menu li a {
	color: #777777;
}

.dropdown-menu li a:hover {
	color: #000000;
	font-weight: 700;
}

.collapse {
	background: #ffffff;
}

.nav li a {
	font-size: 15px;
	font-weight: bold;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.language_selector_img_ge {
	padding-right: 10px;
}

.language_selector_img_en {
	padding-right: 10px;
}

.back-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	padding: 2em;
	display: none;
	background: url('../images/gototop.png') no-repeat 0px 0px;
	opacity: 0.75;
	filter: alpha(opacity=70);
}

.back-to-top:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
	.contact {
		margin-top: 100px;
	}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}



