.line-wrapper-l,
.line-wrapper-m{
	float: left;
	width: 100%;
}
.line-wrapper-r{
	float: right;
	width: 100%;
}
.line-wrapper-l>a>p:hover,
.line-wrapper-r>a>p:hover {
    color: #2196f3;
}
.line-wrapper-l>a,
.line-wrapper-r>a,
.line-wrapper-l>p,
.line-wrapper-r>p{
    min-width: 40%;
    max-width: 55%;
}
.line-wrapper-l>a{
	float: left;
}
.line-wrapper-r>a{
	float: right;
}
.triangle-l,
.triangle-r,
.triangle-m{
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
    color: black;
}
.triangle-l{
    float: left;
    background: #E5E4E2;
    margin: 0 auto 2em 0;
}
.triangle-r{
    float: right;
    text-align: left;
    background: #dcf8c6;
    margin: 0 2em 2em auto;
}
.triangle-m{
    padding: 1px;
    width: 35%;
    background: #cbeaf8;
    text-align: center;
    margin: 0 auto 2em auto;
}

.triangle-l::after,
.triangle-r::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -2em;
    box-sizing: border-box;
    border: 1em solid black;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.4);
}
/* creates triangle */
.triangle-l:after {
    left: 40px;
    border-color: transparent transparent #E5E4E2 #E5E4E2;
}
/* creates triangle */
.triangle-r:after {
    right: 40px;
    border-color: transparent transparent #dcf8c6 #dcf8c6;
}